.image-company {
    width: 100px;
    height: 100px;
    margin-bottom: 60px;
}

.gradient-1 {

    background: linear-gradient(to right, #30b9fd, #35adf3);
}

@media (min-width: 768px) {
    .gradient-form {
        height: 100vh !important;
    }
}

@media (min-width: 769px) {
    .gradient-custom-2 {
        border-top-right-radius: .3rem;
        border-bottom-right-radius: .3rem;
    }
}

.bg-color {
    background-color: rgb(231, 231, 231);
}